<h1>Comments#new</h1>

 
<% form_for(@comment) do |comment| %>
<%= comment.text_field :content %>

<% comment.hidden_field :article_id, :value => session[:article_id] %>

<% comment.submit "Send the comment!" %><



<% end %>
<p>Find me in app/views/comments/new.html.erb</p>
